{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} - Store {% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/store.css' %}">
{% endblock css %}

{% block content %}

<form id="search-form" >
    <div class="search">
        <label for="search"></label>
        <input name="search" type="text" placeholder="Search">
        <button class="btn btn-primary search-btn" id="search-btn">Search</button>
    </div>
</form>

<div class="products">
    
    {% for product in products %}
        <div class="card">
            <div class="card-img">
                <img src="{{ product.imageURL}}" alt="{{ product.name }} image">
            </div>
            <div class="card-details">
                <p>{{ product.name }}</p>
                <h3>{{ product.price }}</h3>
            </div>
            <button
                data-action="add"
                data-product="{{ product.id }}"
                class="btn btn-primary card-btn product-btn">Add To Cart
            </button>
        </div>
    {% endfor %}
</div>


{% endblock content %}