<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Jula Hairs{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block css %}{% endblock css %}
    <script>
        function getCookie(name) {
            // Split cookie and get all individual name=value pairs in an array
            let cookieArr = document.cookie.split(';');

            for (let i=0; i<cookieArr.length; i++) {
                let cookiePair = cookieArr[i].split('=');

                if (name == cookiePair[0].trim()) {
                    return decodeURIComponent(cookiePair[1]);
                }
            }

            return null;
        }

        let cart = JSON.parse(getCookie('cart'));

        if (cart == undefined) {
            cart = {};
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }
    </script>
</head>
<body>
    <nav>
        <div id="navbar">
            <div class="left-nav">
                <a href="{% url 'homepage' %}">
                    <div class="logo"></div>
                    <div class="nav-brand">Jula Hairs</div>
                </a>
            </div>
            <div class="right-nav">
                <div data-visible="false" class="primary-navigation">
                    <div class="nav-item"><a href="{% url 'homepage' %}">Home</a></div>
                    <div class="nav-item"><a href="{% url 'store' %}">Store</a></div>
                    <div class="nav-item"><a href="#">About Us</a></div>
                </div>
            </div>
        </div>
    </nav>
    <div class="fixed-icons">
        <a href="{% url 'cart'%}" id="cart">
            <div id="cart-icon">
                <img src="{% static 'images/cart.png' %}" alt="cart image">
                <div class="btn btn-primary" id="cart-length">0</div>
            </div>
        </a>
        <div id="hamburger-icon">{% include 'includes/nav-icon.html' %}</div>

    </div>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>


    <script src="{% static 'js/main.js' %}"></script>
    
</body>
</html>